div.page-controller(ng-controller='TcpdumpCtrl')

  div.testing-title-wrapper
    h4 抓包控制
      button.btn.btn-sm.btn-danger.pull-right(ng-click="stopTcpdump()") 结束
      button.btn.btn-sm.btn-success.pull-right(ng-click="startTcpdump()") 开始

    div#tcpdump
      table.table.table-hover.dataTable.ng-table
       thead
        tr
          th.header.sortable ID
          th.header.sortable 用户名
          th.header.sortable 机型
          th.header.sortable 状态
          th.header.sortable 开始时间 
          th.header.sortable 结束时间           
          th.header.sortable 控制
       tbody
        tr(ng-repeat='column in records')
            td(ng-bind='column.id')
            td(ng-bind='column.user')
            td(ng-bind='column.model')
            td(ng-bind='column.startTime | date:"yyyy-MM-dd HH:mm:ss"')
            td(ng-bind='column.endTime   | date:"yyyy-MM-dd HH:mm:ss"')
            td
              i(ng-if='column.status=="Testing"').fa.fa-spinner.fa-spin.fa-1x.fa-fw
              i(ng-if='column.status=="Stop"').fa.fa-stop.color-red
              i(ng-if='column.status=="Failed"').fa.fa-times.color-red
              i(ng-if='column.status=="Finished"').fa.fa-check.color-green
            td
              a(ng-if='column.status == "Finished"',ng-href="{{column.url}}") 下载pcap
        tr(ng-if='records.length===0')
            td(colspan=10) 暂无抓包 {{records.length}}


