#cpu svg,
#memory svg{
  background-color: #000;
}
#cpu .axis path,
#cpu .axis line,
#memory .axis path,
#memory .axis line{
  fill: none;
  stroke: #60c561;
  shape-rendering: crispEdges;
  stroke-dasharray:0px;
  stroke-width: 1;
}

#cpu .axis text,
#memory .axis text{
  font-size: 10px;
  stroke: node;
  fill: #ddd;
  color: #fff;
}

/*.testing-title-wrapper .axis path,*/
/*.testing-title-wrapper .axis line{*/
  /*fill: none;*/
  /*stroke: #fff;*/
  /*shape-rendering: crispEdges;*/
/*}*/
/*.axis text{*/
  /*font-size: 10px;*/
  /*stroke: node;*/
  /*fill: #ddd;*/
  /*font-weight: 100;*/
  /*font-family: "微软雅黑";*/
/*}*/
/*#tooltip{*/
  /*color: #000;*/
  /*font-size: 12px;*/
/*}*/
/*.label{*/
  /*font-size: 12px;*/
/*}*/
/*.bar{*/
  /*cursor: pointer;*/
/*}*/
/*#horizontal-line{*/
  /*stroke : #999999;*/
  /*stroke-width: 1;*/
  /*stroke-dasharray:  5;*/
/*}*/
/*.axis-label{*/
  /*font-size: 12px;*/
/*}*/
/*.drag{*/
  /*cursor: move;*/
/*}*/
/*.x.axis .tick line,*/
/*.y.axis .tick line{*/
  /*fill: none;*/
  /*stroke-width: 1;*/
  /*stroke: #60c561;*/
/*}*/
/*.testing-title-wrapper{*/
  /*border-bottom: 1px solid #ddd;*/
  /*margin-bottom: 15px;*/
/*}*/
/*.testing-title{*/
  /*display: inline-block;*/
  /*width: 100px;*/
/*}*/

.device-list-details-content table {
  white-space: nowrap;
}

.device-list-details-content .device-list-product,
.device-list-details-content .device-list-carrier {
  white-space: normal;
}

.device-list-details-content .progress {
  margin-bottom: 0 !important;
  height: 17px !important;
}

.device-list-details-content .device-status.state-available {
  font-weight: 600;
}


.report-item{
  border-bottom: 1px solid #f1f1f1;
  padding: 4px;
}
.report-item .report-time{
  font-size: 13px;
  color: #999;
  padding: 0px 10px;
}
.report-item-list{
  height: 500px;
  overflow-y: scroll;
}
.report-item-message{
  padding: 0px 10px;
  word-break: break-all;
  white-space: pre-wrap;
}